<!DOCTYPE html> 
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <title>Brewski for Foodski</title>
      <h2 class='title'>Brews for Your Food</h2>
      <blockquote class="blockquote">
        <p class="mb-0">
          If you drink enough, anything tastes good
        </p>
        <footer class="blockquote-footer">
          -Dilly Dilly <cite>a drunk</cite>
        </footer>
      </blockquote>
      <form role="form">
        <div class="form-group">
          <label>
            Dish
          </label>
          <input type="text" ng-model="ingredient" />
          <button type="submit" class="btn btn-primary" ng-click="$ctrl.getRecipe(ingredient)">
            Submit
          </button>
        </div>
      </form>
      <table class="recipe-table">
        <tbody>
          <tr ng-repeat="recipe in $ctrl.recipes">
            <td><img ng-src="{{ recipe.recipe.image }}" style="height:50px;" /></td>
            <td>Recipe from {{ recipe.recipe.source }}</td>
            <td><a ng-href="{{recipe.recipe.url}}"><i>Recipe Link</i></a></td>
          </tr>
        </tbody>
      </table>
      <div>
        <list beers="$ctrl.beers" />
      </div>
      <!-- <h1>Under Maintenance, Have a Bud Light with your meal</h1>
      <img alt="Image" src="https://i.ytimg.com/vi/9mGNhvkVT8Q/maxresdefault.jpg" width="500" class="rounded" /> -->
      <table class="beer-table">
        <thead>
          <tr>
            <th>Beer</th>
            <th>%ABV</th>
            <th>Beer Names</th>
            <th>Recommended</th>
            <!-- <th>Popular</th> -->
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="beer in $ctrl.beers">
            <td><img ng-src="{{ beer.image }}" style="height:50px;"/></td>
            <td>%{{ beer.abv }}</td>
            <td>{{ beer.name }}</td>
            <td class="btn btn-primary" ng-click="$ctrl.getRecipe(beer.course_1)">
              {{ beer.course_1 }},
              <!-- {{ beer.course_2 }},
              {{ beer.course_3 }}, -->
            </td>
            <!-- <td>{{ beer.hits }}</td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>