<!DOCTYPE html>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <title>Brewski for Foodski</title>
      <h2 class='title'>Brews for Your Food</h2>
      <blockquote class="blockquote">
        <p class="mb-0">
          If you drink enough, anything tastes good
        </p>
        <footer class="blockquote-footer">
          -Dilly Dilly <cite>a drunk</cite>
        </footer>
      </blockquote>
      <form role="form">
        <div class="form-group">
          <label>
            Food
          </label>
          <input type="text" class="form-control" id="ingredient" />
        </div>
        <button type="submit" class="btn btn-primary">
          Submit
        </button>
      </form>
      <div>
        <list beers="$ctrl.beers" />
      </div>
      <!-- <h1>Under Maintenance, Have a Bud Light with your meal</h1>
      <img alt="Image" src="https://i.ytimg.com/vi/9mGNhvkVT8Q/maxresdefault.jpg" width="500" class="rounded" /> -->
      <table class="table table-hover table-sm table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>%ABV</th>
            <th>Beer</th>
            <th>Courses</th>
            <th>Popular</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="beer in $ctrl.beers">
            <td>{{ beer.id }}</td>
            <td>{{ beer.abv }}</td>
            <td>{{ beer.name }}</td>
            <td>{{ beer.course_1 }}</td>
            <td>{{ beer.hits }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>